body {
	font-family: "Futura";
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.top-page-container {
	text-align: center;
}

.second-container {
	border: 20px;
	background-color: #f5f5f5;
	display: flex;
	justify-content: space-between;
}

.pizzas {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 20px;
}

.pizzas img {
	margin-bottom: 20px;
}

.third-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.fourth-container {
	border: 20px;
	background-color: #f5f5f5;
}

.fourth-container img {
	display: flex;
	justify-content: space-around;
	align-items: center;
}


# PIZZA CAT

![alt text](https://raw.githubusercontent.com/JerrelMitchell/pizza-cat/blob/master/images/pizza-cat-img.png)

https://github.com/JerrelMitchell/pizza-cat/blob/master/images/pizza-cat-img.png
